@charset "UTF-8";
.tab-laber{
    width: 100%;
    height: 1.875rem;
    position:fixed;
    bottom: 0;
    left:0;
    font-size:.375rem;
    background:rgba(246,246,246,.95);
    display: flex;
    justify-content: space-around;

}
.tab-laber a{
    color:#777;
    text-decoration: none;
    padding-top: 1.25rem;
}
.tab-laber a:first-child{
    background: url(./image/download0.png) no-repeat center .3rem;
    background-size: .8rem .8rem;
}

.tab-laber a:nth-child(2){
    background: url(./image/download1.png) no-repeat center .3rem;
    background-size: .8rem .8rem;
}
.tab-laber a:nth-child(3){
    background: url(./image/download2.png) no-repeat center .3rem;
    background-size: .8rem .8rem;
}
.tab-laber a:last-child{
    background: url(./image/download3.png) no-repeat center .3rem;
    background-size: .8rem .8rem;
}

@keyframes changeColor {
    from{
        background-size: .6rem .6rem;

    };
    to{
        background-size: .8rem .8rem;

    }
}
.tab-laber a:first-child:hover{
    background: url(./image/download0-0.png) no-repeat center .3rem;
    background-size: .8rem .8rem;
    animation-name:changeColor;
    animation-duration:.2s;
    animation-iteration-count:2;
    background-size: .8rem .8rem;
}
.tab-laber a:nth-child(2):hover{
    background: url(./image/download1-1.png) no-repeat center .3rem;
    background-size: .8rem .8rem;
    animation-name:changeColor;
    animation-duration:.2s;
    animation-iteration-count:2;
    background-size: .8rem .8rem;
}
.tab-laber a:nth-child(3):hover{
    background: url(./image/download2-2.png) no-repeat center .3rem;
    background-size: .8rem .8rem;
    animation-name:changeColor;
    animation-duration:.2s;
    animation-iteration-count:2;
    background-size: .8rem .8rem;
}
.tab-laber a:last-child:hover{
    background: url(./image/download3-3.png) no-repeat center .3rem;
    animation-name:changeColor;
    animation-duration:.2s;
    animation-iteration-count:2;
    background-size: .8rem .8rem;
}
/*购物车数量显示*/
.shopCar-a{
    position: relative;
}
.show-goods-cont{
    /*opacity: 0;*/
    position: absolute;
    right:-.42rem;
    top:.25rem;
    display: inline;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: #f40;
    color:white;
    text-align: center;
    line-height: .6rem;
    font-size: .5rem;
}
